body{
	margin: 0;
	font-family: Arial;
	background-size: cover;
}
#container{
	width: 500px;
	margin: 50px auto;
	box-sizing: border-box;
	padding: 100px;
	background-color: RGBA(0,0,0,0.7);
	display: flex;
	color: #eee;
	height: 900px;
	
}

#topo{
	text-align: center;
	margin-top: -80px;
	margin-left: 50px;
	
}
input[type=submit]{	
margin-left: 80px;	
}

label{
	display: block;
	margin-top: 10px;

}

.cadastro{
	margin-left: -280px;
}
.form{
		background-color: RGBA(0,0,0,0);
	border: none;
	border-bottom: solid 1px #eee;
	color: #eee;
	display: block;
	width: 90%;
	margin: 0px 0px;
}
.sair, .limpar, .salvar{
	background-color: RGBA(0,0,0,0);
	border: solid 1px #eee;
	padding: 5px 10px;
	color: #eee;
	margin-top: 30px;	
}