body{
	margin: 0;
	font-family: Arial;
	background-image: url(editarusuario.jpg);
	background-size: cover;
}
#container{
	width: 500px;
	margin: 25px auto;
	box-sizing: border-box;
	padding: 100px;
	background-color: RGBA(0,0,0,0.7);
	
	color: #eee;
	height: 800px;
	
}
#topo{
	text-align: center;
	margin-top: -80px;
	margin-left: 50px;
	
}
input[type=submit]{	
margin-left: 80px;	
}


label{
	display: block;
	margin-top: 10px;

}
.form{
	background-color: RGBA(0,0,0,0);
	border: none;
	border-bottom: solid 1px #eee;
	color: #eee;
	display: block;
	
}
.cadastro{
	margin-left: -20px;
}
.botaoinicio{
	margin-left: 30px;
	background-color: RGBA(0,0,0,0);
	border: solid 1px #eee;
	color: #eee;
	padding: 20px;
}
.botaosalvar{
	margin-top: -18px;
	margin-left: 20px !important;
	background-color: RGBA(0,0,0,0);
	border: solid 1px #eee;
	color: #eee;
}
.botaolimpar{
	margin-left: 20px;
		margin-left: 20px;
	background-color: RGBA(0,0,0,0);
	border: solid 1px #eee;
	color: #eee;
}
.voltar{
	margin-left: 20px;
		margin-left: 20px;
	background-color: RGBA(0,0,0,0);
	border: solid 1px #eee;
	color: #eee;
}
.banco{
	margin-top:15px;
	
}
